<ion-view title="Nearby Restaurants">
      <ion-nav-buttons side="left" class="bar bar-header bar-assertive">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
      <div class="card">
  <div class="item item-text-wrap">
    INSERT GOOGLE MAP SHOWING NEARBY LOCATIONS
  </div>
</div>
      
<div class="list">
    <a class="item" href="#">
        <div class="row">
            <div class="col col-50" align="center">  Subway </div>
            <div class="col" align="center"> Address </div>
        </div>
    </a>
</div>   
    
<div class="list">
    <a class="item" href="#">
        <div class="row">
            <div class="col col-50" align="center">  Flour Bakery + Café </div>
            <div class="col" align="center"> 131 Clarendon St</div>
        </div>
    </a>
</div>
      
<div class="list">
    <a class="item" href="#">
        <div class="row">
            <div class="col col-50" align="center">  Trophy Room </div>
            <div class="col" align="center"> 26 Chandler St</div>
        </div>
    </a>
</div>
      
<div class="list">
    <a class="item" href="#">
        <div class="row">
            <div class="col col-50" align="center">  Delux Café </div>
            <div class="col" align="center"> 100 Chandler St</div>
        </div>
    </a>
</div>
      

        </ion-content>
</ion-view>